.button {
  width: 160px;
  height: 26px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  text-align: center;
  color: #FFFFFF;

  background: #111B47;
  border-radius: 2px;

  cursor: pointer;
}

.buttonPurchase {
  width: 189px;
  height: 36px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  margin-right: 30px;
}

.buttonLearn {
  width: 189px;
  height: 36px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  color: #091133;

  background: #fff;
  border: 2px solid #091133;
  border-radius: 2px;
}
