.btn {
  width: 190px;
  height: 36px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
  color: #FFFFFF;

  background: #111B47;
  border-radius: 2px;
  border: none;

  cursor: pointer;
}

.btnLearn {
  margin-left: 30px;
  background: none;
  color: #091133;
  border: 2px solid #091133;
}

.btnPurchaseNow {
  height: 32px;
  font-size: 14px;
  line-height: 1.7;

  color: #FFFFFF;
}

.btnFooter {
  width: 110px;
  height: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

}
