.hero {
  padding-top: 245px;
  padding-bottom: 385px;


}

.title {
  width: 539px;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.32;

  letter-spacing: 1px;

  color: #091133;
}

.text {
  width: 539px;
  margin-bottom: 70px;
}

.imgHERO {
  width: 1490px;
  height: 1160px;
  position: absolute;
  margin-left: 255px;

  top: -133px;
  z-index: -1;
}
