@import-normalize; /* bring in normalize.css styles */

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 165px;
  padding-left: 165px;
}

/* body {
  background-image: url('./img/Path.png');
    background-repeat: no-repeat;
    background-size: 1490px 1161px;
} */
